---
layout: default
title: Home
---

<p class="header">
  Hi, I'm Nate Anderson.
  <!-- </p><p class="header"> -->
  Welcome to <span class="bitmask-font">bitmask</span>
  studios
  <!-- <span class="bitmask-studios-font">studios</span> -->

</p>

<div class="index-container">
  <div class="index-message">
    <p>My husband and I are trying to have a kid! 👨‍👨‍👧 Do you know someone who can be our surrogate? <a
         href="{% post_url 2023-04-27-seeking-surrogates %}">Read more
        here...</a> </p>

    <a href="{% post_url 2023-04-27-seeking-surrogates %}">
      <img src="/assets/images/blog/seeking-surrogates/nate_and_dan_seeking_surrogates__simple_surrogacy__ip_975.jpg"
           alt="Nate and Dan seeking surrogates with Simple Surrogacy IP #975">
    </a>

  </div>

  <div class="featured-works-grid">
    {%- for featured_work in site.featured_works -%}
    <div class="featured-works-grid--featured-work 
  {% if featured_work.double_wide %} double-wide {% endif %}
  {% if featured_work.rotate %} rotate {% endif %}
  ">
      <a href="{{ featured_work.href }}"
         target="_blank">
        <div class="featured-works-grid--featured-background-image"
             style="background-image:url('/assets/images/featured_works/{{featured_work.image}}');">

        </div>
        <h3 class="featured-works-grid--featured-title">
          {{ featured_work.title | escape }}
        </h3>
      </a>
    </div>
    {%- endfor -%}
  </div>
</div>