--- 
--- 
.bitmask-logo {

  display: block;
  width: 120px;
  height: 120px;
  // background-image: url("/assets/images/logos/bitmask_logo_yellow.svg");
  background-image: url("/assets/images/logos/bitmask_logo_blue_gradient.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position:relative;
  // top: 20px;
  top:14px;
  /* transform: translate(-100%, 0); */
  left: -20px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0 0 5px;
}

.lead {
  line-height: 1.25rem;
}

img[src*="headshot"] {
  border-radius: 100px;
  max-height: 200px;
  float: right;
  margin: 1em;
}
/* minima */

.grey {
  color: #828282;
}

.orange {
  color: #f66a0a;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.social-media-list {
  display: table;
  margin: 0 auto;
  // 
  padding: 0;
  margin: 0;
  margin-bottom: 1em;

  li {
    float: left;
    margin: 0 5px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    a {
      display: block;
      // padding: $spacing-unit / 4;
      // border: 1px solid $brand-color-light
      padding: 7.5px;
      border: 1px solid #e8e8e8;
    }

    &:hover .svg-icon {
      fill: currentColor;
    }
  }
}

// 
.svg-icon {
  // width: 16px;
  // height: 16px;
  width: 32px;
  height: 32px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
  /* poole throws this off */
  box-sizing: content-box;
}

.sidebar {
  .social-media-list {
    a {
      border: 0;
    }

    .svg-icon {
      height: 24px;
      width: 24px;
    }
  }
}

/* From minima */
.post-list {
  margin-left: 0;
  list-style: none;

  padding: 0;
}

.post-meta {
  font-size: 14px;
  color: #828282;
}

.feed-subscribe .svg-icon {
  height: 16px;
  width: 16px;
}

span.logo-subtitle {
  font-family: 'PT Sans';
  font-weight: bolder;
  font-size: 2rem;
  display: block;
  text-align: right;
  line-height: 10px;
  padding-right: 30px;
  // color: dimgrey;
  color: #4ac1ad;
}

.sidebar-nav {
  font-size: 1.25em;
  margin-bottom:0px;
}
.sidebar-disclaimer {
  /* font-family: 'Abril Fatface'; */
  font-weight: normal;
  font-size: 16px;
  /* letter-spacing: 2px; */
  text-align: center;
  margin: 0px;
  line-height: 16px;
  opacity:0.5;
}


@media (max-width: 48em) {
  .bitmask-logo {
    margin: auto;
  }

  img[src*="headshot"] {
    float: none;
    margin: auto;
  }
  .bitmask-logo+a span.logo-subtitle  { 

    text-align: center;
    padding-right: 0px;
    margin-bottom: 30px;
  }  
  .social-media-list {
    margin:auto;
  }
}
